.logout-btn:hover {
    background: #b9b9b9;
    transition: ease-in-out .2s;
}

.card {
    border: 1px solid rgba(113, 160, 254, 0);
    transition: ease-in-out .1s;
}

.hover:hover {
    border: 1px solid rgba(113, 160, 254, 1) !important;
    transition: ease-in-out .2s;
}